// @see https://habr.com/ru/company/dodopizzadev/blog/473648/
{
	"parser": "babel-eslint",
	// "compilerOptions": {
	// 	"target": "ES6",
	// 	"module": "commonjs"
	// }
	"rules": {
		"no-unused-vars": "warn"
	},
	"env": {
		// Проект для браузера
		"browser": true,
		// Включаем возможности ES6
		"es6": true,
		// Добавляем возможности ES2017
		"es2017": true
	},
	"extends": [
		"eslint:recommended"
	]
}